.header {
    background-color: #1a2233;
  
    &__container {
      display: flex;
      gap: 2rem;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
  }
  
  .app__brand {
    color: #3cff64;
    font-style: italic;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }